<html layout:decorate="~{modelo}">
<head>
<meta charset="UTF-8" />
<title>TADS DSW</title>
</head>
<body>
  <main class="container" layout:fragment="conteudo">
    <div class="row">
      <section class="col-md-12">
        <h1 th:if="${categoria.id == null}">Inclusão de categoria</h1>
        <h1 th:if="${categoria.id != null}">Alteração de categoria</h1>
        <form th:action="@{/categorias/salvar}" method="post" th:object="${categoria}" novalidate>
          <input type="hidden" th:if="*{id != null}" th:field="*{id}" />
          <div class="form-group row">
            <label for="txtNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
              <input type="text" name="nome" class="form-control"
                th:classappend="${#fields.hasErrors('nome')}? is-invalid" id="txtNome" placeholder="Nome"
                th:field="*{nome}">
              <div class="invalid-feedback" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Digite um
                nome.</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 offset-md-3">
              <a th:href="@{/categorias}" role="button" class="btn btn-block btn-outline-dark">Cancelar</a>
            </div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-block btn-success">Enviar</button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </main>
</body>
</html>
