<!DOCTYPE html>
<html layout:decorate="~{modelo-bs5}">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div layout:fragment="conteudo">
            <div class="row">
                <div class="offset-lg-1 col-lg-10">
                    <h1 th:if="${dados.id == null}">Inclusão de pessoa (VERSÃO MVC Tradicional)</h1>
                    <h1 th:unless="${dados.id == null}">Alteração de pessoa - ID <strong th:text="${dados.id}"></strong> (VERSÃO MVC Tradicional)</h1>

                    <div th:if="${!#strings.isEmpty(msgSucesso)}"
                         class="alert alert-success" role="alert" >
                        <h4 class="alert-heading">Sucesso</h4>
                        <p class="mb-0" th:text="${msgSucesso}"></p>
                    </div>
                    <div th:if="${!#strings.isEmpty(msgErro)}"
                         class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Erro</h4>
                        <p class="mb-0" th:text="${msgErro}"></p>
                    </div>

                    <form method="post"
                          th:action="@{/mvc-tradicional/pessoas/__${dados.id != null ? '' + dados.id + '/salvar' : 'salvar-novo'}__}"
                          th:object="${dados}" novalidate>

                        <input
                            type="hidden"
                            th:if="*{id != null}"
                            th:field="*{id}" />

                        <div class="row mb-3">
                            <label for="txtNome"
                                   class="col-sm-2 col-form-label">Nome</label>
                            <div class="col-sm-10">
                                <input
                                    type="text"
                                    th:field="*{nome}"
                                    id="txtNome"
                                    placeholder="Preencha o nome completo"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('nome')}? is-invalid"
                                    maxlength="100"
                                    required
                                />
                                <div th:if="${#fields.hasErrors('nome')}"
                                     th:errors="*{nome}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtApelido"
                                   class="col-sm-2 col-form-label">Apelido</label>
                            <div class="col-sm-10">
                                <input
                                    type="text"
                                    th:field="*{apelido}"
                                    id="txtApelido"
                                    placeholder="Preencha um apelido"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('apelido')}? is-invalid"
                                    maxlength="100"
                                    required
                                />
                                <div th:if="${#fields.hasErrors('apelido')}"
                                     th:errors="*{apelido}" class="invalid-feedback" ></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtDescricao"
                                   class="col-sm-2 col-form-label">Descrição</label>
                            <div class="col-sm-10">
                                <textarea
                                    class="form-control"
                                    th:field="*{descricao}"
                                    id="txtDescricao"
                                    placeholder="Descrição"
                                    maxlength="1000"></textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtDataNascimento"
                                   class="col-sm-2 col-form-label">Data de nascimento</label>
                            <div class="col-sm-10">
                                <input
                                    type="date"
                                    th:field="*{dataNascimento}"
                                    id="txtDataNascimento"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('dataNascimento')}? is-invalid"
                                    required
                               />
                                <div th:if="${#fields.hasErrors('dataNascimento')}"
                                     th:errors="*{dataNascimento}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtEmail"
                                   class="col-sm-2 col-form-label">E-mail</label>
                            <div class="col-sm-10">
                                <input
                                    type="email"
                                    th:field="*{email}"
                                    id="txtEmail"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('email')}? is-invalid"
                                    placeholder="E-mail válido"
                                    maxlength="100"
                                    required
                                />
                                <div th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}" class="invalid-feedback" ></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtTelefone"
                                   class="col-sm-2 col-form-label">Telefone</label>
                            <div class="col-sm-10">
                                <input
                                    type="text"
                                    th:field="*{telefone}"
                                    id="txtTelefone"
                                    placeholder="Formato (99) 99999-9999"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('telefone')}? is-invalid"
                                    maxlength="20"
                                />
                                <div th:if="${#fields.hasErrors('telefone')}"
                                     th:errors="*{telefone}" class="invalid-feedback"></div>
                            </div>
                        </div>

                        <!-- SÓ PREENCHE SENHA E REPETIÇÃO NA INCLUSÃO -->
                        <div class="row mb-3" th:if="*{id == null}">
                            <label for="txtSenha"
                                   class="col-sm-2 col-form-label">Senha</label>
                            <div class="col-sm-10">
                                <input
                                    type="password"
                                    th:field="*{senha}"
                                    id="txtSenha"
                                    placeholder="Senha"
                                    class="form-control"
                                />
                            </div>
                        </div>
                        <div class="row mb-3" th:if="*{id == null}">
                            <label for="txtSenhaRepetida"
                                   class="col-sm-2 col-form-label">Repetir senha</label>
                            <div class="col-sm-10">
                                <input
                                    type="password"
                                    th:field="*{senhaRepetida}"
                                    id="txtSenhaRepetida"
                                    placeholder="Repetir senha"
                                    class="form-control"
                                />
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="txtNumero"
                                   class="col-sm-2 col-form-label">Número de 1 a 99</label>
                            <div class="col-sm-10">
                                <input
                                    type="number"
                                    th:field="*{numero}"
                                    id="txtNumero"
                                    placeholder="Número de 1 a 99"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('numero')}? is-invalid"
                                    min="1"
                                    max="99"
                                />
                                <div th:if="${#fields.hasErrors('numero')}"
                                     th:errors="*{numero}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtAltura"
                                   class="col-sm-2 col-form-label">Altura</label>
                            <div class="col-sm-10">
                                <input
                                    type="number"
                                    th:field="*{altura}"
                                    id="txtAltura"
                                    placeholder="Altura em metros com no máximo 2 casa decimais"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('altura')}? is-invalid"
                                    min="0"
                                    max="3"
                                    step="0.01"
                                />
                                <div th:if="${#fields.hasErrors('altura')}"
                                     th:errors="*{altura}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="txtPeso" class="col-sm-2 col-form-label">Peso</label>
                            <div class="col-sm-10">
                                <input
                                    type="number"
                                    th:field="*{peso}"
                                    id="txtPeso"
                                    placeholder="Peso em Kg com no máximo 1 casa decimal"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('peso')}? is-invalid"
                                    min="0"
                                    max="500"
                                    step="0.1"
                                />
                                <div th:if="${#fields.hasErrors('peso')}"
                                     th:errors="*{peso}" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <legend class="col-sm-2 col-form-label pt-0">Gênero</legend>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline">
                                    <input
                                        type="radio"
                                        th:field="*{genero}"
                                        value="-1"
                                        id="generoI"
                                        class="form-check-input"
                                    />
                                    <label for="generoI"
                                           class="form-check-label">Não informar</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                        type="radio"
                                        th:field="*{genero}"
                                        value="0"
                                        id="generoF"
                                        class="form-check-input"
                                    />
                                    <label for="generoF"
                                           class="form-check-label">Feminino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                        type="radio"
                                        th:field="*{genero}"
                                        value="1"
                                        id="generoM"
                                        class="form-check-input"
                                    />
                                    <label for="generoM"
                                           class="form-check-label">Masculino</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input
                                        type="radio"
                                        th:field="*{genero}"
                                        value="2"
                                        id="generoO"
                                        class="form-check-input"
                                    />
                                    <label for="generoO"
                                           class="form-check-label">Outro</label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="row mb-3">
                            <legend class="col-sm-2 col-form-label pt-0">Interesses</legend>
                            <div class="col-sm-10">
                                <div class="form-check form-check-inline"
                                     th:each="opcaoInteresse : ${opcoesInteresses}">
                                    <input
                                        type="checkbox"
                                        th:field="*{interessesIds}"
                                        th:value="${opcaoInteresse.id}"
                                        th:id="interesse + ${opcaoInteresse.id}"
                                        class="form-check-input"
                                    />
                                    <label th:for="interesse + ${opcaoInteresse.id}"
                                           class="form-check-label"
                                           th:text="${opcaoInteresse.nome}"></label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="row">
                            <div class="col-md-3 offset-md-3">
                                <div class="d-grid">
                                    <a th:href="@{/mvc-tradicional/pessoas}"
                                       role="button" class="btn btn-outline-dark">Cancelar</a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="d-grid">
                                    <button type="submit"
                                            class="btn btn-success">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
