<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />
        <title>TADS DSW - Exemplo Dados Pessoais</title>
        <!-- Geradas em https://favicon.io/favicon-generator/ -->
        <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}" />
        <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}" />
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"
              th:href="@{/webjars/font-awesome/css/all.min.css}" />
    </head>
    <body class="d-flex flex-column h-100">
        
        <nav th:replace="~{navbar-footer :: navbar}"></nav>

        <main class="flex-shrink-0">
            <div class="container-lg mb-3" layout:fragment="conteudo">
                <div class="bg-light p-5 rounded">
                    <h1>Texto do template</h1>
                </div>
            </div>
        </main>

        <footer th:replace="~{navbar-footer :: footer}"></footer>

        <div layout:fragment="modal-area"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
        <script th:src="@{/js/clamp.min.js}"></script>
        <script th:src="@{/js/funcoes.js}"></script>
        <script layout:fragment="script-area"></script>

    </body>
</html>