<!DOCTYPE html>
<html>
<head>
<title>Exemplo Spring Security</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <h1>Home</h1>
  <div th:if="${usuario != null}">
    <div>
      <h2>
        Nome completo: <span th:text="${usuario.nomeCompleto}"></span>
      </h2>
      <p th:text="${usuario.hashSenha}"></p>
      <ul>
        <li><a th:href="@{/protegido/peao}">Tela PEAO</a></li>
        <li><a th:href="@{/protegido/fodon}">Tela FODON</a></li>
        <li><a th:href="@{/protegido/god}">Tela GOD</a></li>
      </ul>
      <p>
        <a th:href="@{/logout}">Sair</a>
      </p>
    </div>
  </div>
  <div th:unless="${usuario != null}">
    <h2>Usuário não logado no sistema</h2>
  </div>
</body>
</html>