<!DOCTYPE html>
<html layout:decorate="~{modelo-bs5}">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <div layout:fragment="conteudo">
            <h1>Exemplo Spring Security</h1>

            <div class="px-4 py-2 my-3 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h2 class="display-5 fw-bold mb-3">Objetivos</h2>
                    <hr/>
                    <ul>
                        <li class="fs-4">Explorar a aplicação (tanto código-fonte quanto através de navegação) para ver as funcionalidades e o comportamento delas</li>
                        <li class="fs-4">Alterar a aplicação para implementar os fluxos de autenticação usando username e senha</li>
                        <li class="fs-4">Alterar a aplicação para bloquear acesso às telas caso usuário não tenha permissões necessárias</li>
                        <li class="fs-4">Apresentar conceito de hash de senhas</li>
                    </ul>
                </div>
            </div>

        </div>
    </body>
</html>